<div ng-controller="loadSearchController">
    <link rel="stylesheet" href="css/loadSearch.css">
    <div id="configs-section" class="row">
        <div id="credentials-section" class="col-lg-6">
            <h4 class="row">Truckstop Credentials</h4>
            <div class="row">
                <div class="first-input col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon">User:</span>
                        <input ng-model="truckstopCredentials.username" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="first-input col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon">Pass:</span>
                        <input ng-model="truckstopCredentials.password" type="password" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="first-input col-lg-10">
                    <div class="input-group">
                        <span class="input-group-addon">TS_Auth:</span>
                        <input ng-model="truckstopCredentials.authToken.value" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div id="truck-stats" class="col-lg-6">
            <h4 class="row">Truck Configurations</h4>
            <div class="row">
                <div class="first-input col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">MPG</span>
                        <input ng-model="truckStats.mpg" type="number" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="first-input col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Price/Gal</span>
                        <input ng-model="truckStats.pricePerGal" type="number" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="first-input col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Weight</span>
                        <input ng-model="truckStats.weight" type="number" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <button id="saveButton" type="button" class="col-lg-3 btn btn-default greenButton" ng-click="saveConfigs()">
                    <span class="btn-label"><i class="glyphicon glyphicon-floppy-disk"></i></span> SAVE
                </button>
            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
    <div id="searches-section" class="row">
        <div class="col-lg-12">
            <h4 class="row">Filters</h4>
            <hr class="row">
            <div class="row">
                <div class="form-group filter col-lg-4">
                    <h5 for="search-select">Current Search</h5>
                    <select class="form-control" id="search-select" ng-model="currentSearch" ng-change="getLoads()">
                        <option class="small" ng-repeat="search in searches" ng-value="search">{{search.description}}</option>
                    </select>
                </div>
                <div class="filter col-lg-2">
                    <div class="button-group">
                        <h5>Current Brokers</h5>
                        <div type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Select Brokers <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu">
                            <li ng-repeat="broker in brokers"><span class="checkBoxOption" data-value="broker"><input ng-model="broker.checked" type="checkbox"/>&nbsp;{{broker.name}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="filter col-lg-3">
                    <div class="button-group">
                        <h5>Current States Selected</h5>
                        <div type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Select Preferred States <span class="caret"></span>
                        </div>
                        <ul id="states-dropdown" class="dropdown-menu">
                            <li ng-repeat="state in states"><span class="checkBoxOption" data-value="broker"><input ng-model="state.checked" type="checkbox"/>&nbsp;{{state.name+" ("+state.code+")"}}</span></li>
                        </ul>
                    </div>
                </div>
                <button id="applyFilters" type="button" class="filter col-lg-2 btn btn-default blueButton pull-right" ng-click="applyFilters()">
                    <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span> APPLY
                </button>
            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
    <div id="loads-section" class="row">
        <div class="col-lg-12">
            <h4 class="row">Loads</h4>
            <hr class="row">
            <table class="table row">
                <thead>
                <tr>
                    <th scope="col">Time Listed</th>
                    <th scope="col">Brokers Name</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Fuel Cost</th>
                    <th scope="col">Net Profit</th>
                    <th scope="col">Profit/Mile</th>
                    <th scope="col">Details Page</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="load in filteredLoads">
                    <th>{{load.timeListed}}</th>
                    <td>{{load.brokerName}}</td>
                    <td>{{load.route.originCity + "(" + load.route.originState + ")"}}</td>
                    <td>{{load.route.destinationCity + "(" + load.route.destinationState + ")"}}</td>
                    <th>{{load.payment}}</th>
                    <td>{{load.fuelCost}}</td>
                    <td>{{load.netProfit}}</td>
                    <td>{{load.netProfitPerMile}}</td>
                    <td><a ng-href="{{load.detailsUrl}}">Link</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
