<div ng-controller="loadSearchController">
    <link rel="stylesheet" href="css/loadSearch.css">
    <div id="configs-section" class="row">
        <div id="credentials-section" class="col-lg-6">
            <h4 class="row">Truckstop Credentials</h4>
            <div class="row">
                <div class="first-input col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon">User:</span>
                        <input ng-bind="" type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="first-input col-lg-5">
                    <div class="input-group">
                        <span class="input-group-addon">Pass:</span>
                        <input ng-bind="" type="password" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="first-input col-lg-10">
                    <div class="input-group">
                        <span class="input-group-addon">TS_Auth:</span>
                        <input ng-bind="" type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div id="dat-credentials" class="col-lg-6">
            <h4 class="row">Truck Configurations</h4>
            <div class="row">
                <div class="first-input col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">MPG</span>
                        <input ng-bind="" type="number" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="first-input col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Price/Gal</span>
                        <input ng-bind="" type="number" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="first-input col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Weight</span>
                        <input ng-bind="" type="number" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <button id="saveButton" type="button" class="col-lg-3 btn btn-default greenButton" ng-click="">
                    <span class="btn-label"><i class="glyphicon glyphicon-floppy-disk"></i></span> SAVE
                </button>
            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
    <div id="searches-section" class="row">
        <div class="col-lg-12">
            <h4 class="row">Filters</h4>
            <hr class="row">
            <div class="row">
                <div class="form-group col-lg-4">
                    <h5 for="search-select">Current Search</h5>
                    <select class="form-control" id="search-select" ng-model="currentSearch">
                        <option ng-repeat="search in searches" value="{{search.description}}">{{search.description}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
